body {
    background-color: white;
    color: #333;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
.div1 {
    float: left;
}
.head {
    display: block;;
    float: left;
    width: 25%;
    height: 100%;
    min-height: 100vh;
    padding-top: 30px;
    background-color: #86A3B4;
}
.name {
    float: left;
    font-size: 40px;
    font-weight: 600;
    padding-left: 20px;
    color: white;
}
#surname{
    color: #1C2E8C;
}
#photo {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;
}

#hire{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 10px;
}
.subtitle {
    font-size: x-large;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;

}
.info1 {
    display: block;
    font-weight: bold;
}

.main {
    display: block;
    float: right;
    width: 72%;
    height: 100vh;
    padding: 10px;
    padding-top: 30px;
}
.h3 {
    font-style: normal;
    font-size: x-large;
    font-weight: 600;
    color: #263036;
    border-bottom: 
    solid
    3px
    #1E1E1E;
    padding: 10px;
}
dt {
    display: block;
    float: left;
    font-weight: bold;
}

.link {
    color: #00f;
    text-decoration: none;
}
.link:visited {
    color: #005;
    text-decoration: none;
}
.link:hover {
    text-decoration: none;
}

.skills {
    display: flex;
    justify-content: space-between;
    list-style-type:circle;
}
#skills1 {
    float: left;
}
#skills2 {
    float: center;
}   

