body {
    background-color: white;
    color: #333;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

.head {
    display: block;;
    float: left;
    width: 25%;
    height: 100%;
    min-height: 100vh;
    padding-top: 30px;
    background-color: #86A3B4;
}
.name {
    float: left;
    font-size: 40px;
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 15px;
    color: white;
}
#surname{
    color: #1C2E8C;
}
#photo {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
}
#hire{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
}
.link {
    color: #00f;
    text-decoration: none;
}
.link:visited {
    color: #005;
    text-decoration: none;
}
.link:hover {
    text-decoration: none;
}
.contact {
    padding-left: 20px;
    padding-right: 30px;
}
.subtitle {
    font-size: x-large;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    list-style-type: none;
}
#address {
    padding-top: 10px;
}
.languages {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 30px;
}
.info {
    display: block;
    font-weight: bold;
}

.main {
    display: block;
    float: right;
    width: 72%;
    height: 100vh;
    padding: 10px;
    padding-top: 30px;
}
hr {
    height: 3px;
    border-width: 0px;
    background-color: #1E1E1E;
    
}
.title {
    font-style: normal;
    font-size: x-large;
    font-weight: 600;
    color: #263036;
    margin: 0px;
}
dt {
    display: block;
    float: left;
    font-weight: bold;
}
.skills {
    display: flex;
    justify-content: space-between;
    list-style-type:circle;
    list-style-position: inside;
}
#skills1 {
    float: left;
}
#skills2 {
    float: center;
}   
ul {
    list-style-type: circle;
    padding: 0px;

}
ol {
    padding: 0px;
    list-style-position:inside;
}
li {
    font-weight: bold;
}
.nostyle {
    list-style-type: none;
}

