.my-theme {
  background-color: #77ACA2;
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0 0 0 0;
}
.my-theme .head {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  color: black;
  background-color: #F4E9CD;
  /* overflow: scroll; */
  box-shadow: 3px 5px 5px;
  z-index: 1;
  animation-name: head;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.my-theme .name {
  float: left;
  font-size: 40px;
  font-weight: 600;
  padding: 20px 0 15px 20px;
  color: black;
}
.my-theme #surname {
  color: #1C2E8C;
}
.my-theme #photo {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  transition: 1s linear;
}
.my-theme #hire {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}
.my-theme .link {
  color: #00f;
  text-decoration: none;
}
.my-theme .link:visited {
  color: #005;
}
.my-theme .contact {
  padding: 15px 30px 0 20px;
}
.my-theme .subtitle {
  font-size: x-large;
  font-weight: 600;
  padding: 20px 0 10px 0;
  list-style-type: none;
}
.my-theme #address {
  padding: 0 0 10px 0;
}
.my-theme .languages {
  padding: 15px 30px 0 20px;
}
.my-theme .info {
  display: block;
  font-weight: 600;
}
.my-theme .main {
  display: block;
  float: right;
  width: 72%;
  height: 100vh;
  padding: 30px 10px 10px 10px;
  animation-name: main;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
.my-theme hr {
  height: 3px;
  border-width: 0px;
  background-color: black;
}
.my-theme .frame {
  display: inline-block;
  padding: 4px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 1.2em;
}
.my-theme .title {
  border-bottom: 3px dashed black;
  font-size: x-large;
  font-weight: 600;
  color: black;
  padding: 0 0 5px 0;
  margin: 0 0 0 0;
}
.my-theme .exp {
  opacity: 0.7;
  transition: 0.5s;
}
.my-theme .exp:hover {
  opacity: 1;
}
.my-theme dt {
  display: block;
  float: left;
  font-weight: 600;
}
.my-theme .skills {
  display: flex;
  justify-content: space-between;
}
.my-theme #skills1 {
  float: left;
}
.my-theme #skills2 {
  float: center;
}
.my-theme ul {
  list-style-type: disc;
  padding: 0 0 0 0;
  list-style-position: inside;
}
.my-theme ol {
  padding: 0 0 0 0;
  list-style-position: inside;
}
.my-theme li {
  font-weight: 600;
}
.my-theme .nostyle {
  list-style-type: none;
}
@keyframes head {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes main {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-theme {
  background-color: white;
  font-family: "Inter", sans-serif;
  color: #333;
  margin: 0 0 0 0;
}
.main-theme .head {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  color: #333;
  background-color: #86A3B4;
  /* overflow: scroll; */
  box-shadow: 3px 5px 5px;
  z-index: 1;
  animation-name: head;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.main-theme .name {
  float: left;
  font-size: 40px;
  font-weight: 600;
  padding: 20px 0 15px 20px;
  color: white;
}
.main-theme #surname {
  color: #1C2E8C;
}
.main-theme #photo {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  transition: 1s linear;
}
.main-theme #hire {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}
.main-theme .link {
  color: #00f;
  text-decoration: none;
}
.main-theme .link:visited {
  color: #005;
}
.main-theme .contact {
  padding: 15px 30px 0 20px;
}
.main-theme .subtitle {
  font-size: x-large;
  font-weight: 600;
  padding: 20px 0 10px 0;
  list-style-type: none;
}
.main-theme #address {
  padding: 0 0 10px 0;
}
.main-theme .languages {
  padding: 15px 30px 0 20px;
}
.main-theme .info {
  display: block;
  font-weight: 600;
}
.main-theme .main {
  display: block;
  float: right;
  width: 72%;
  height: 100vh;
  padding: 30px 10px 10px 10px;
  animation-name: main;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
.main-theme hr {
  height: 3px;
  border-width: 0px;
  background-color: #1E1E1E;
}
.main-theme .frame {
  display: inline-block;
  padding: 4px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 1.2em;
}
.main-theme .title {
  border-bottom: 3px solid #010202;
  font-size: x-large;
  font-weight: 600;
  color: #010202;
  padding: 0 0 5px 0;
  margin: 0 0 0 0;
}
.main-theme .exp {
  opacity: 0.7;
  transition: 0.5s;
}
.main-theme .exp:hover {
  opacity: 1;
}
.main-theme dt {
  display: block;
  float: left;
  font-weight: 600;
}
.main-theme .skills {
  display: flex;
  justify-content: space-between;
}
.main-theme #skills1 {
  float: left;
}
.main-theme #skills2 {
  float: center;
}
.main-theme ul {
  list-style-type: disc;
  padding: 0 0 0 0;
  list-style-position: inside;
}
.main-theme ol {
  padding: 0 0 0 0;
  list-style-position: inside;
}
.main-theme li {
  font-weight: 600;
}
.main-theme .nostyle {
  list-style-type: none;
}
@keyframes head {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes main {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=main_theme.css.map */