body {
    background-color: #f3f3bc;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
#name {
    font-style: italic;
}
#position {
    font-weight: bold;
}
.h3 {
    font-style: italic;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
}
.link {
    color: #00f;
    text-decoration: underline;
}
.link:visited {
    color: #005;
    text-decoration: underline;
}
.link:hover {
    text-decoration: none;
}

.skills {
    list-style-type: square;
}
